<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Projects</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
   </welcome-file-list>
   <servlet>
       <servlet-name>A_AddCurrentProjects</servlet-name>
       <servlet-class>A_AddCurrentProjects</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>A_AddCurrentProjects</servlet-name>
       <url-pattern>/A_AddCurrentProjects</url-pattern>
   </servlet-mapping>
    <servlet>
       <servlet-name>U_Feedback</servlet-name>
       <servlet-class>U_Feedback</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>U_Feedback</servlet-name>
       <url-pattern>/U_Feedback</url-pattern>
   </servlet-mapping>
    <servlet>
       <servlet-name>U_NewCustomer</servlet-name>
       <servlet-class>U_NewCustomer</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>U_NewCustomer</servlet-name>
       <url-pattern>/U_NewCustomer</url-pattern>
   </servlet-mapping>
     <servlet>
       <servlet-name>A_Approvel</servlet-name>
       <servlet-class>A_Approvel</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>A_Approvel</servlet-name>
       <url-pattern>/A_Approvel</url-pattern>
   </servlet-mapping>
   <servlet>
       <servlet-name>A_ApprovelForm</servlet-name>
       <servlet-class>A_ApprovelForm</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>A_ApprovelForm</servlet-name>
       <url-pattern>/A_ApprovelForm</url-pattern>
   </servlet-mapping>
   <servlet>
       <servlet-name>authentication</servlet-name>
       <servlet-class>authentication</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>authentication</servlet-name>
       <url-pattern>/authentication</url-pattern>
   </servlet-mapping>
</web-app>